body{
    background-color: rgb(231, 230, 230);
    color:rgb(19, 19, 31);
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1{
    text-align: center;
    font-size: 12px;
}
h2{
    font-size: 15px;
    color: blue;
}
table{
border:2px; border: solid; color: black;
}
.table-style{
    border: 2px solid rgb(0, 0, 0);
}
th,td {
    padding:20px;
    border: 1px solid rgb(0, 0, 0);
    }